html,
body {
    margin: 0;
    padding: 0;
    display: grid;
    width: 100%; height: 100%;
    max-width: 100vw; max-height: 100vh;
    font-family: 'Cascadia Code', sans-serif;
}

footer {
    display: grid;
    text-transform: uppercase;
    background-color: #BFD5D7FF;
}
